.dropdown1 {
	width: 75vw;
	border:1px solid black;
	border-radius:12px;
	background:white;
	display:hidden;
	position:absolute;
	top:3.92rem;
	left:13rem;
	box-shadow: 3px 3px 0px;
}
.dropdown2 {
width: 75vw;
border:1px solid black;
border-radius:12px;
background:white;
display:hidden;
position:absolute;
top:3.92rem;
left:13rem;
box-shadow: 3px 3px 0px;
}
.dropdown3 {
width: 60vw;
border:1px solid black;
border-radius:12px;
background:white;
position:absolute;
top:3.92rem;
left:14rem;
display:hidden;
box-shadow: 3px 3px 0px;
}
.dropdown4 {
width: 60vw;
border:1px solid black;
border-radius:12px;
background:white;
position:absolute;
top:3.92rem;
left:15rem;
display:hidden;
box-shadow: 3px 3px 0px;
}
.active{
	display:flex;
	flex-direction:row;
}
.dropdown1::before {
	content: "";
	display: inline-block;
	background: transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	position: absolute;
	top: -10px;
	right: 1090px;
}
.dropdown2::before {
	content: "";
	display: inline-block;
	background: transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	position: absolute;
	top: -10px;
	right: 970px;
}
.dropdown3::before {
	content: "";
	display: inline-block;
	background: transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	position: absolute;
	top: -10px;
	right: 625px;
}
.dropdown4::before {
	content: "";
	display: inline-block;
	background: transparent;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	position: absolute;
	top: -10px;
	right: 525px;
}
